doctype html
html
	body
		.wrapper.grid
			.wrapper_left.wrapper_item
				include left_menu.pug
			.wrapper_right.wrapper_item
				include index_right_wrapper.pug
				
		link(rel='stylesheet', href='css/index.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='js/scripts.min.js')