#myNav_1.overlay
	.overlay-content
		.call_back_ol
			form.grid
				.cbol_item
					input(type = 'text', name = 'name', placeholder = 'Имя...', required ='')
				.cbol_item
					input(type = 'text', name = 'name', placeholder = 'Фамилия...')
				.cbol_item
					input(type = 'text', name = 'name', placeholder = 'Телефон...')
				.cbol_item
					button.button.cb_hover_button
						| Записаться!