.logo
	img(src="img/logo.png")
.social
	ul
		li
			a(href="#")
				i.fa.fa-mobile(aria-hidden='true')
				| +7 (965) 340-50-94
		li
			a(href="#")
				i.fa.fa-envelope-o(aria-hidden='true')
				| salon100uslug@mail.ru
		li
			a(href="#")
				i.fa.fa-vk(aria-hidden='true')
				| salon100uslug
		li
			a(href="#")
				i.fa.fa-facebook-official(aria-hidden='true')
				| salon100uslug
		li
			a(href="#")
				i.fa.fa-odnoklassniki(aria-hidden='true') 
				| salon100uslug
.vacancy
	h4
		| Ищешь работу?
	h5
		| Предлагаем работу рядом с домом и с высокой зарплатой
button.vacancy_button(href="#")
	| ВАКАНСИИ
.footer
	| 100 УСЛУГ&copy;2009-2017
.m_burger
	button#burger.header_burger.hamburger(type='button')
		span.hamburger_box
			span.hamburger_inner
.m_social
	ul
		li
			a(href="#")
				i.fa.fa-mobile(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-envelope-o(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-vk(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-facebook-official(aria-hidden='true')
		li
			a(href="#")
				i.fa.fa-odnoklassniki(aria-hidden='true') 
.m_footer
	| 100 УСЛУГ&copy;2009-2017