#myNav.m_overlay
	.m_overlay-content
		a(href="http://c22711.shared.hc.ru/ERomulon/index.html") ГЛАВНАЯ
		a(href="http://c22711.shared.hc.ru/ERomulon/salons.html") САЛОНЫ
		a(href="http://c22711.shared.hc.ru/ERomulon/prices.html") ЦЕНЫ
		a(href="http://c22711.shared.hc.ru/ERomulon/services.html") УСЛУГИ
		a(href="http://c22711.shared.hc.ru/ERomulon/5.html") ВАКАНСИИ