#p_myNav.overlay
	.overlay-content
		a(href="javascript:void(0)") ПРЕОБРАЖЕНСКАЯ ПЛОЩАДЬ
		a(href="javascript:void(0)") ЭЛЕКТРОЗАВОДСКАЯ
		a(href="javascript:void(0)") КРАСНЫЕ ВОРОТА
		a(href="javascript:void(0)") ТАГАНСКАЯ
		a(href="javascript:void(0)") РАМЕНКИ
		a(href="javascript:void(0)") УНИВЕРСИТЕТ
		a(href="javascript:void(0)") ПРОСПЕКТ ВЕРНАДСКОГО
		a(href="javascript:void(0)") КАШИРСКАЯ