.table_head.th_class.th_41
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| КРИОТЕРАПИЯ (жидкий азот) 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Криотерапия лица
				td 350₽
			tr
				td.t_name Криотерапия спины
				td 600₽
			tr
				td.t_name Криотерапия волосистой части головы
				td 300₽