.table_head.th_class.th_25
	.th_name_1
		| ПЕДИКЮР
	.th_name_2
		| Виды покрытия ногтей 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Покрытие лаком (масло, основа, сушка, лак)	
				td 60₽
			tr
				td.t_name Покрытие лаком OPI (масло, основа, сушка, лак)	
				td 100₽
			tr
				td.t_name Покрытие лаком без педикюра	
				td 100₽
			tr
				td.t_name Покрытие лаком френч	
				td 150₽
			tr
				td.t_name Покрытие лаком (омбре, лунный)	
				td 300₽
			tr
				td.t_name Покрытие лаком (френч+блестки)	
				td 170₽
			tr
				td.t_name Покрытие проф. лаками с эффектами	
				td 130₽
			tr
				td.t_name Снятие лака	
				td 10₽
			tr
				td.t_name Дизайн акриловыми красками 1 ноготь	
				td 20₽
			tr
				td.t_name Креативный дизайн (художественная роспись 1 ногтя)	
				td 40₽
			tr
				td.t_name Декоративное покрытие (бархатный песок, жидкие камни, литье, зеркальное покрытие)
				td 50₽
			tr
				td.t_name Слайдеры	
				td 50₽
			tr
				td.t_name Наклейки	
				td 25₽
			tr
				td.t_name Лепка акриловая	
				td 60₽
			tr
				td.t_name 1страза маленькая	
				td 10₽
			tr
				td.t_name 1 страза Сваровски средняя	
				td 15₽
			tr
				td.t_name 1 страза Сваровски большая	
				td 50₽
			tr
				td.t_name Покрытие Vinylux (CND)	
				td 350₽
			tr
				td.t_name Покрытие Vinylux (CND) френч	
				td 400₽
			tr
				td.t_name Покрытие Vinylux (CND) (омбре, лунный )	
				td 600₽
			tr
				td.t_name Снятие Vinyluxe (CND)	
				td 50₽
			tr
				td.t_name Покрытие ногтей Shellak (CND)	
				td 900₽
			tr
				td.t_name Покрытие ногтей Shellak (CND) френч	
				td 1050₽
			tr
				td.t_name Покрытие ногтей Shellak (CND) (омбре, лунный)	
				td 1200₽
			tr
				td.t_name «Зеркальное» покрытие (на основе гель-лаков)	
				td 1200₽
			tr
				td.t_name Покрытие гель-лак (BLUESKY и т.д.)	
				td 500₽
			tr
				td.t_name Снятие гель-лаков ( без покрытия)	
				td 350₽
			tr
				td.t_name Снятие гель-лаков 50%	
				td 175₽
			tr
				td.t_name Покрытие IBX	
				td 500₽
			tr
				td.t_name Покрытие IBX под Shellak	
				td 400₽