.table_head.th_class.th_11
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ БИЗНЕС
	.th_name_2
		| ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ/ ОМБРЕ (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Мелирование на фольгу	
				td 630₽						
				td 780₽
				td 950₽
				td 1170₽
			tr
				td.t_name Мелирование на фольгу (+30% «частое мелир.»)	
				td 910₽						
				td 1130₽
				td 1365₽
				td 1625₽
			tr
				td.t_name Мелирование на шапочку	
				td 320₽	
				td 420₽
				td 
				td 
			tr
				td.t_name Мелирование зоны Вертекс	
				td 390₽				
				td 490₽
				td 600₽
				td 750₽
			tr
				td.t_name Обесцвечивание корней (до 2 см)	
				td 420₽			
				td 420₽
				td 420₽
				td 420₽
			tr
				td.t_name Прикорневое мелирование	
				td 490₽
				td 670₽
				td 670₽
				td 670₽
			tr
				td.t_name Прикорневое мелирование (+30% «частое мелир.»)	
				td 640₽			
				td 870₽
				td 870₽
				td 870₽
			tr
				td.t_name Мелирование супрой Matrix	
				td 950₽			
				td 1150₽
				td 1600₽
				td 1800₽
			tr
				td.t_name Мелирование супрой Matrix (+30% “част.м.»)	
				td 1240₽			
				td 1500₽
				td 2080₽
				td 2340₽
			tr
				td.t_name Мелирование супрой HauteCoutur	
				td 710₽			
				td 910₽
				td 1210₽
				td 1410₽
			tr
				td.t_name Мелирование супрой HauteCoutur (+30%)	
				td 930₽			
				td 1190₽
				td 1580₽
				td 1840₽
