.table_head.th_class.th_37
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| КОСМЕТИЧЕСКИЕ МАССАЖИ ЛИЦА 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Косметический массаж классический (30мин)
				td 800₽
			tr
				td.t_name Косметический массаж пластический (доп 10 мин)
				td 150₽
			tr
				td.t_name Косметический массаж по Жаке ( доп10мин)
				td 150₽
			tr
				td.t_name Косметический массаж лица лифтинговый (30мин)	
				td 1000₽
			tr
				td.t_name Косметический массаж с матригелем	
				td 1000₽