.table_head.th_class.th_34
	.th_name_1
		| COUTURE
	.th_name_2
		| ТОВАРЫ
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Шампунь 250ml
				td 500₽
			tr
				td.t_name Эликсир для кончиков волос 50ml
				td 550₽
			tr
				td.t_name Маска 200ml
				td 700₽
			tr
				td.t_name Бальзам 200ml
				td 500₽
			tr
				td.t_name Спрей-уход 100ml
				td 700₽
			tr
				td.t_name Дфухвазный спрей 100ml
				td 550₽
			tr
				td.t_name Масло-уход 100ml
				td 550₽
			tr
				td.t_name Спрей 100ml
				td 600₽