.table_head.th_class.th_50
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| БЕЗЫГОЛЬНАЯ МЕЗОТЕРАПИЯ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Интенсивное увлажнение лица, шеи, декольте 1 амп
				td 2800₽
			tr
				td.t_name Восстановление коллагена (разглажив. морщин, улучш. тургора кожи) 1 амп
				td 2800₽
			tr
				td.t_name Лифтинг-подтяжка и моделирование овала лица 1 амп
				td 2800₽