.table_head.th_class.th_36
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ОСНОВНЫЕ УСЛУГИ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Окраска бровей /ресниц (профессиональная краска в ассортименте)	
				td 150₽
			tr
				td.t_name Окраска бровей /ресниц (ХНА)	
				td 250₽
			tr
				td.t_name Коррекция/ Форма бровей	
				td 150₽
			tr
				td.t_name Коррекция мужских бровей	
				td 250₽
			tr
				td.t_name Демакияж глаза
				td 50₽
			tr
				td.t_name Демакияж лицо	
				td 100₽
			tr
				td.t_name Ремовер
				td 15₽