.table_head.th_class.th_45
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ДЭПИЛЯЦИЯ ШУГАРИНГ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Дэпиляция шугаринг (верхняя губа)
				td 150₽
			tr
				td.t_name Дэпиляция шугаринг (подбородок)
				td 150₽
			tr
				td.t_name Дэпиляция шугаринг (лицо полностью 1 зона)
				td 150₽
			tr
				td.t_name Дэпиляция шугаринг (подмышки)
				td 450₽
			tr
				td.t_name Дэпиляция шугаринг (линия бикини)
				td 550₽
			tr
				td.t_name Дэпиляция шугаринг (линия бикини с переходом на бедра)
				td 650₽
			tr
				td.t_name Дэпиляция шугаринг (неглубокое бикини)
				td 800₽
			tr
				td.t_name Дэпиляция шугаринг (глубокое бикини)	
				td 400₽
			tr
				td.t_name Дэпиляция шугаринг (голень+колено)
				td 850₽
			tr
				td.t_name Дэпиляция шугаринг (бедра)
				td 750₽
			tr
				td.t_name Дэпиляция шугаринг (бедра+голень)	
				td 1250₽
			tr
				td.t_name Дэпиляция шугаринг (руки до локтей)
				td 550₽
			tr
				td.t_name Дэпиляция шугаринг (руки полностью)
				td 650₽
			tr
				td.t_name Дэпиляция шугаринг (ягодицы)
				td 850₽
			tr
				td.t_name Дэпиляция воск (живот)
				td 300-800₽
			tr
				td.t_name Дэпиляция воск (спина)	
				td 400-1000₽
			tr
				td.t_name Дэпиляция воск (бикини дизайн)	
				td 2000₽
			tr
				td.t_name Дэпиляция воск (дезинфицирующий лосьон 1 область)	
				td 50-100₽
			tr
				td.t_name Дэпиляция воск (средство против роста волос 1 область)	
				td 50-100₽