.table_head.th_class.th_35
	.th_name_1
		| СОЛЯРИЙ
	.th_name_2
		| ОСНОВНЫЕ УСЛУГИ
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Солярий вертикальный Opal Fitness 1 мин
				td 10₽
			tr
				td.t_name Крем для загара ESTEL, 8ml (в ассортименте)
				td 80₽
			tr
				td.t_name Крем для загара Tantalizing Intencifier Firm 250 ml (в ассортименте)	
				td 800₽
			tr
				td.t_name Салфетки увлажняющие
				td 40₽
			tr
				td.t_name Стикини
				td 20₽
			tr
				td.t_name Тапочки
				td 15₽
			tr
				td.t_name Полотенце одноразовое
				td 10₽
			tr
				td.t_name Шапочка
				td 10₽