.table_head.th_class.th_33
	.th_name_1
		| МАССАЖ + СПА
	.th_name_2
		| Дополнительные материалы 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Одноразовые трусики
				td 10₽
			tr
				td.t_name Шапочка одноразовая
				td 10₽
			tr
				td.t_name Тапочки одноразовые
				td 15₽
			tr
				td.t_name Простынь одноразовая
				td 10₽