.table_head.th_class.th_32
	.th_name_1
		| МАССАЖ + СПА
	.th_name_2
		| СПА-процедуры 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Медовая программа
				td 560₽
			tr
				td.t_name Скраб соли мертвого моря
				td 310₽
			tr
				td.t_name Скраб все тело
				td 710₽
			tr
				td.t_name Горячее обертывание	
				td 1620₽
			tr
				td.t_name Обертывание «Холодное пламя»	
				td 1320₽
			tr
				td.t_name Комплексная программа для тонизации с грязью «СанМишель	
				td 1820₽
			tr
				td.t_name Шоколадное обертывание	
				td 1820₽
			tr
				td.t_name Комплексная программа Витаминизации	
				td 1320₽
			tr
				td.t_name Контрастное обертывание (горячее и холодное)	
				td 2020₽
			tr
				td.t_name Бандажное обертывание «Ароша»	
				td 1520₽
			tr
				td.t_name Обертывания водорослевые	
				td 1420₽
			tr
				td.t_name Обертывания минерал	
				td 1120₽
			tr
				td.t_name Обертывания грязью	
				td 1020₽
			tr
				td.t_name Сыворотка под обертывание
				td 400₽
