.table_head.th_class.th_43
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| МАКИЯЖ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Макияж дневной
				td 700₽
			tr
				td.t_name Макияж вечерний
				td 1100₽