.table_head.th_class.th_44
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ДЭПИЛЯЦИЯ ВОСК 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Дэпиляция воск (верхняя губа)
				td 100₽
			tr
				td.t_name Дэпиляция воск (подбородок)
				td 100₽
			tr
				td.t_name Дэпиляция воск (лицо полностью, 1 зона)
				td 100₽
			tr
				td.t_name Дэпиляция воск (подмышки)
				td 350₽
			tr
				td.t_name Дэпиляция воск (линия бикини)
				td 350₽
			tr
				td.t_name Дэпиляция воск (линия бикини с переходом на бедра)
				td 550₽
			tr
				td.t_name Дэпиляция воск (неглубокое бикини)
				td 750₽
			tr
				td.t_name Дэпиляция воск (глубокое бикини)	
				td 1250₽
			tr
				td.t_name Дэпиляция воск (голень+колено)
				td 700₽
			tr
				td.t_name Дэпиляция воск (бедра)
				td 600₽
			tr
				td.t_name Дэпиляция воск (бедра+голень)
				td 950₽
			tr
				td.t_name Дэпиляция воск (руки до локтей)
				td 350₽
			tr
				td.t_name Дэпиляция воск (руки полностью)
				td 500₽
			tr
				td.t_name Дэпиляция воск (ягодицы)
				td 600₽
			tr
				td.t_name Дэпиляция воск (живот)
				td 300-800₽
			tr
				td.t_name Дэпиляция воск (спина)	
				td 400-1000₽
			tr
				td.t_name Дэпиляция воск (бикини дизайн)	
				td 2000₽
			tr
				td.t_name Дэпиляция воск (дезинфицирующий лосьон 1 область)	
				td 50-100₽
			tr
				td.t_name Дэпиляция воск (средство против роста волос 1 область)	
				td 50-100₽