.table_head.th_class.th_31
	.th_name_1
		| МАССАЖ + СПА
	.th_name_2
		| Общие процедуры 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Общий массаж тела (60 мин)	
				td 1110₽
			tr
				td.t_name Полный массаж тела (120мин)	
				td 1910₽
			tr
				td.t_name Коррекция фигуры
				td 710₽
			tr
				td.t_name Сибирский массаж по меду	
				td 1710₽
			tr
				td.t_name Программа «Бразильская попка»
				td 810₽
			tr
				td.t_name Массаж спины
				td 710₽
			tr
				td.t_name Массаж воротниковой зоны
				td 460₽
			tr
				td.t_name Массаж живота
				td 460₽
			tr
				td.t_name Массаж рук
				td 260₽
			tr
				td.t_name Массаж ног
				td 610₽
			tr
				td.t_name Лимфодренажный массаж	
				td 1200₽