.table_head.th_class.th_27
	.th_name_1
		| ПЕДИКЮР
	.th_name_2
		| Дополнительные материалы 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Разделители для педикюра
				td 10₽
			tr
				td.t_name Тапочки
				td 15₽
			tr
				td.t_name Педикюрный набор №1 (педикюр. пакет, перчатки, полотенце) входит во все педикюры
				td 30₽
