.table_head.th_class.th_51
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| RF–ЛИФТИНГ «Дерматорм 2,0» 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name RF лифтинг периорбитальной области (веки)
				td 2000₽
			tr
				td.t_name RF лицо+периорбитальная зона
				td 4000₽
			tr
				td.t_name RF лицо+периорбитальная зона+шея
				td 5000₽
			tr
				td.t_name RF лицо+периорбитальная зона+шея+декольте
				td 6000₽
			tr
				td.t_name RF тело 1 обл
				td 4000₽
			tr
				td.t_name RF 2 области (живот+бедра)
				td 7000₽