.table_head.th_class.th_16
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ VIP
	.th_name_2
		| ОКРАШИВАНИЕ ЭСТЕЛЬ (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Окрашивание Essex в 1тон (1состав краски)	
				td 630₽						
				td 680₽
				td 810₽
				td 930₽
			tr
				td.t_name Окрашивание Essex в 2 тона (2сост. краски)	
				td 840₽						
				td 1280₽
				td 1410₽
				td 1580₽
			tr
				td.t_name Окрашивание Essex мелир. краской(2сост.кр.)
				td 1230₽						
				td 1330₽
				td 1560₽
				td 1800₽
			tr
				td.t_name Окрашивание Deluxe в 1тон (1состав краски)	
				td 750₽						
				td 820₽
				td 930₽
				td 1050₽
			tr
				td.t_name Окрашивание Deluxe в 2 тона (2сост.краски)	
				td 1200₽						
				td 1480₽
				td 1610₽
				td 1780₽
			tr
				td.t_name Окрашивание Deluxe мелир.краской (2сост.кр.)	
				td 1430₽						
				td 1530₽
				td 1760₽
				td 2000₽
			tr
				td.t_name Окрашивание HauteCoutur в 1 тон (1сост. кр)	
				td 860₽
				td 960₽
				td 1210₽
				td 1610₽
			tr
				td.t_name Окрашивание HauteCoutur в 2 тон (2сост. кр)	
				td 1210₽
				td 1460₽
				td 1760₽
				td 2060₽
			tr
				td.t_name Мелирование HauteCoutur (2сост. кр)	
				td 1660₽
				td 1860₽
				td 2310₽
				td 3110₽
			tr
				td.t_name Смывка Color off (цена за работу)	
				td 480₽			
				td 680₽
				td 910₽
				td 1110₽
			tr
				td.t_name Смывка волос супрой (1-2 смывки)	
				td 380₽						
				td 430₽
				td 660₽
				td 810₽
			tr
				td.t_name Смывка волос супрой (3-4 смывка)	
				td 570₽						
				td 645₽
				td 990₽
				td 1215₽
			tr
				td.t_name Тонирование волос тоником	
				td 140₽						
				td 170₽
				td 250₽
				td 320₽
