.table_head.th_class.th_26
	.th_name_1
		| ПЕДИКЮР
	.th_name_2
		| Наращивание ногтей на ногах
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Наращивание под лак ( гель)	
				td 1000₽
			tr
				td.t_name Укрепление ногтей биогелем	
				td 1000₽
			tr
				td.t_name Наращивание френч (биогель, акрил,гель)	
				td 1150₽
			tr
				td.t_name Коррекция	
				td 800₽
			tr
				td.t_name Наращивание ногтей (аквариум) – 1 ноготь	
				td 120₽
			tr
				td.t_name Покрытие гелем (свои ногти)	
				td 500₽
			tr
				td.t_name Покрытие гелем свои ногти (френч)	
				td 650₽
			tr
				td.t_name Снятие (биогель, акрил, гель)	
				td 350₽
			tr
				td.t_name Снятие биогеля 50%	
				td 175₽
