.table_head.th_class.th_20
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ VIP
	.th_name_2
		| ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ 
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name NEW!!! БОНДИНГ В ОКРАШИВАНИЕ (BOND ULTIM8, Matrix США)	
				td 400₽
				td 650₽
				td 750₽
				td 850₽
			tr
				td.t_name NEW!!! БОНДИНГ ГЛУБОКОЕ ВОССТАНОВЛЕНИЕ (BOND ULTIM8, Matrix США)	
				td 600₽
				td 900₽
				td 1200₽
				td 1500₽
			tr
				td.t_name NEW!!! БОТОКС ДЛЯ ВОЛОС (Honma Tokyo Professional)	
				td 1500₽
				td 2500₽
				td 3500₽
				td 4000₽
			tr
				td.t_name «БРИЛЛИАНТОВАЯ МАСКА» (Greymy Швейцария)	
				td 300₽
				td 500₽
				td 700₽
				td 900₽
			tr
				td.t_name КОМПЛЕКС ГЛУБОКОГО ВОССТАНОВЛЕНИЯ И ВЫПРЯМЛЕНИЯ ВОЛОС (Greymy Швейцария)	
				td 1600₽
				td 3700₽
				td 4300₽
				td 5300₽
			tr
				td.t_name КОМПЛЕКС ГЛУБОКОГО ВОССТАНОВЛЕНИЯ И ВЫПРЯМЛЕНИЯ ВОЛОС (Greymy Швейцария)(челка)	
				td 800₽
				td 800₽
				td 800₽
				td 800₽
			tr
				td.t_name СПА-КЕРАТИН (Greymy Швейцария)	
				td 980₽
				td 1400₽
				td 1700₽
				td 1800₽
			tr
				td.t_name ГЛАЗИРОВАНИЕ (Estel Россия)	
				td 730₽
				td 780₽
				td 940₽
				td 1100₽
			tr
				td.t_name КЕРАТИНОВОЕ ВЫПРЯМЛЕНИЕ (CocoChoco Израиль)	
				td 1500₽
				td 3500₽
				td 4000₽
				td 5000₽
			tr
				td.t_name КЕРАТИНОВОЕ ВЫПРЯМЛЕНИЕ (CocoChoco Израиль) (челка)	
				td 800₽
				td 800₽
				td 800₽
				td 800₽
			tr
				td.t_name ЛАМИНИРОВАНИЕ 5-ФАЗНОЕ (Hair Light Италия)	
				td 2200₽
				td 2500₽
				td 2900₽
				td 3900₽
			tr
				td.t_name Маска Estel	
				td 120₽
				td 120₽
				td 170₽
				td 170₽
			tr
				td.t_name Маска Matrix	
				td 220₽
				td 220₽
				td 280₽
				td 280₽
			tr
				td.t_name NEW!!! МОЛЕКУЛЯРНЫЙ КОКТЕЙЛЬ (Matrix)	
				td 400₽
				td 500₽
				td 650₽
				td 800₽
			tr
				td.t_name NEW!!! ПРОЦЕДУРА ТЕРМО КЕРАТИН (Estel)	
				td 490₽
				td 640₽
				td 780₽
				td 890₽
			tr
				td.t_name ХЭК Estel	
				td 150₽
				td 150₽
				td 150₽
				td 150₽
			tr
				td.t_name ЭКСПРЕСС-УХОД (Hair Light Италия)	
				td 700₽
				td 1000₽
				td 1200₽
				td 1700₽
			tr
				td.t_name NEW!!! ЭКСПРЕСС ТОНИРОВАНИЕ ВОЛОС (ESTEL PRIMA BLONDE)	
				td 450₽
				td 550₽
				td 650₽
				td 750₽
			tr
				td.t_name ЭКСПРЕСС-УХОД для блондинок (Matrix США)	
				td 300₽
				td 400₽
				td 500₽
				td 600₽