.table_head.th_class.th_39
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| КОСМЕТИЧЕСКИЕ МАСКИ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Маски классические
				td 250₽
			tr
				td.t_name Маски коллагеновые
				td 350₽
			tr
				td.t_name Альгинатные маски лицо
				td 600₽
			tr
				td.t_name Альгинатные маски (лицо, шея, декольте)
				td 800₽
			tr
				td.t_name Разогревающий гель
				td 150₽
			tr
				td.t_name Парафиновые аппликации
				td 600₽