.table_head.th_class.th_2
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ ЭКОНОМ
	.th_name_2
		| ОКРАШИВАНИЕ ЭСТЕЛЬ (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Окрашивание Essex в 1тон (1состав краски)	
				td 560₽
				td 620₽
				td 730₽
				td 850₽
			tr
				td.t_name Окрашивание Essex в 2 тона (2сост. краски)	
				td 770₽
				td 1150₽
				td 1260₽
				td 1440₽
			tr
				td.t_name Окрашивание Essex мелир. краской(2сост.кр.)
				td 1090₽
				td 1210₽
				td 1400₽
				td 1640₽
			tr
				td.t_name Окрашивание Deluxe в 1тон (1состав краски)	
				td 680₽
				td 740₽
				td 850₽
				td 970₽
			tr
				td.t_name Окрашивание Deluxe в 2 тона (2сост.краски)	
				td 995₽
				td 1390₽
				td 1500₽
				td 1680₽
			tr
				td.t_name Окрашивание Deluxe мелир.краской (2сост.кр.)	
				td 1390₽
				td 1510₽
				td 1700₽
				td 1940₽
			tr
				td.t_name Окрашивание HauteCoutur в 1 тон (1сост. кр)	
				td 860₽
				td 960₽
				td 1210₽
				td 1610₽
			tr
				td.t_name Окрашивание HauteCoutur в 2 тон (2сост. кр)	
				td 1210₽
				td 1460₽
				td 1760₽
				td 2060₽
			tr
				td.t_name Мелирование HauteCoutur (2сост. кр)	
				td 1660₽
				td 1860₽
				td 2310₽
				td 3110₽
			tr
				td.t_name Смывка Color off (цена за работу)	
				td 480₽
				td 680₽
				td 910₽
				td 1060₽
			tr
				td.t_name Смывка волос супрой (1-2 смывки)	
				td 280₽
				td 380₽
				td 510₽
				td 660₽
			tr
				td.t_name Смывка волос супрой (3-4 смывка)	
				td 420₽
				td 570₽
				td 765₽
				td 990₽₽
			tr
				td.t_name Тонирование волос тоником	
				td 130₽
				td 160₽
				td 240₽
				td 290₽₽
