.table_head.th_class.th_52
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| Микродермабразия аппарат PRISTINE (Израиль) 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Алмазный пилинг лица	
				td 1000₽
			tr
				td.t_name Алмазный пилинг лица, шеи, декольте	
				td 1500₽
			tr
				td.t_name Плечи
				td 400₽
			tr
				td.t_name Предплечье-кисть
				td 400₽
			tr
				td.t_name Голень
				td 500₽
			tr
				td.t_name Спина
				td 500₽
			tr
				td.t_name Живот
				td 600₽
			tr
				td.t_name Бедра (передняя поверхность)
				td 600₽
			tr
				td.t_name Бедра (задняя поверхность)
				td 600₽
			tr
				td.t_name Ягодицы
				td 700₽
			tr
				td.t_name Голень, бедра, ягодицы	
				td 1400₽