.table_head.th_class.th_30
	.th_name_1
		| МАНИКЮР
	.th_name_2
		| Наращивание ногтей 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Наращивание ногтей (акрил, гель)	
				td 1100₽
			tr
				td.t_name Коррекция
				td 900₽
			tr
				td.t_name Наращивание ногтей (френч)	
				td 1250₽
			tr
				td.t_name Коррекция	
				td 1000₽
			tr
				td.t_name Наращивание ногтей (френч с блестками)	
				td 1300₽
			tr
				td.t_name Коррекция	
				td 1000₽
			tr
				td.t_name Наращивание ногтей (фольга, блестки)	
				td 1350₽
			tr
				td.t_name Коррекция	
				td 1000₽
			tr
				td.t_name Наращивание с цветным акрилом	
				td 1500₽
			tr
				td.t_name Наращивание ногтей – аквариум	
				td 1700₽
			tr
				td.t_name Коррекция	
				td 1200₽
			tr
				td.t_name Акриловая лепка под гель	
				td 1600₽
			tr
				td.t_name Коррекция	
				td 1200₽
			tr
				td.t_name Гелевый маникюр (укрепление ногтей гелем + цветное покрытие гель-лаком)	
				td 1600₽
			tr
				td.t_name Укрепление всех ногтей шелком
				td 400₽
			tr
				td.t_name Наращивание и укрепление «био»гель	
				td 1000₽
			tr
				td.t_name Снятие био-гель
				td 350₽
			tr
				td.t_name Снятие наращенных ногтей (без наращивания)
				td 400₽
			tr
				td.t_name Снятие наращенных ногтей (с наращиванием)
				td 200₽
			tr
				td.t_name Камуфляжный гель
				td 200₽
			tr
				td.t_name Смена дизайна
				td 200₽
			tr
				td.t_name Финиш (защитный слой геля)
				td 100₽
			tr
				td.t_name Формы при наращивании
				td 450₽
			tr
				td.t_name NEW! Уникальное 2-х фазное лечебное покрытие IBX
				td 500₽

