.table_head.th_class.th_46
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ЭЛЕКТРОЭПИЛЯЦИЯ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Электроэпиляция (лицо) 1мин
				td 20₽
			tr
				td.t_name Электроэпиляция (бикини) 1мин
				td 30₽
			tr
				td.t_name Электроэпиляция (тело) 1мин
				td 25₽