.table_head.th_class.th_28
	.th_name_1
		| МАНИКЮР
	.th_name_2
		| Виды маникюра и покрытия ногтей 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Маникюр женский	
				td 250₽
			tr
				td.t_name Маникюр мужской	
				td 390₽
			tr
				td.t_name Маникюр европейский (не обрезной)	
				td 300₽
			tr
				td.t_name Маникюр аппаратный	
				td 300₽
			tr
				td.t_name Экспресс-маникюр (придание формы ногтям, шлифовка ногтей)	
				td 120₽
			tr
				td.t_name Японский маникюр (укрепление ногтевой пластины пастой и пудрой, содержащей кварц)	
				td 700₽
			tr
				td.t_name Бразильский маникюр	
				td 490₽
			tr
				td.t_name Бразильский маникюр (мужской)	
				td 630₽
			tr
				td.t_name Горячий маникюр	
				td 490₽
			tr
				td.t_name Маска для рук	
				td 150₽
			tr
				td.t_name Пилинг рук	
				td 150₽
			tr
				td.t_name Массаж рук
				td 50₽
			tr
				td.t_name Шлифовка ногтей
				td 30₽
			tr
				td.t_name Укрепление всех ногтей шелком	
				td 400₽
			tr
				td.t_name Маникюр+СПА уход (скраб, увлажнение,массаж)	
				td 450₽
			tr
				td.t_name Парафинотерапия для рук	
				td 300₽
			tr
				td.t_name Масло, витаминное лечение
				td 10₽
			tr
				td.t_name Покрытие лаком (масло, основа, закрепитель, лак)
				td 60₽
			tr
				td.t_name Покрытие лаком (масло, основа, закрепитель, лак OPI	
				td 100₽
			tr
				td.t_name Покрытие лаком (без маникюра)
				td 80₽
			tr
				td.t_name Покрытие лаком OPI (без маникюра)	
				td 120₽
			tr
				td.t_name Покрытие лаком (френч)	
				td 150₽
			tr
				td.t_name Покрытие лаком (омбре, лунный френч)	
				td 300₽
			tr
				td.t_name Покрытие лаком (френч+блестки)	
				td 170₽
			tr
				td.t_name Покрытие Омбре 1 ед.
				td 30₽
			tr
				td.t_name Покрытие профф. лаками с эффектами	
				td 130₽
			tr
				td.t_name Снятие лака
				td 10₽
			tr
				td.t_name Покрытие Vinyluxe (CND)	
				td 350₽
			tr
				td.t_name Покрытие Vinyluxe (CND) френч	
				td 450₽
			tr
				td.t_name Покрытие Vinyluxe (CND) (омбре, лунный дизайн)	
				td 600₽
			tr
				td.t_name Снятие Vinyluxe (CND)
				td 50₽
			tr
				td.t_name Покрытие Shellac (CND) Creative	
				td 800₽
			tr
				td.t_name Покрытие Shellak (CND) френч	
				td 900₽
			tr
				td.t_name Покрытие Shellak (CND) (омбре, лунный дизайн)	
				td 1100₽
			tr
				td.t_name «Зеркальное» покрытие (на основе Shellak)	
				td 1100₽
			tr
				td.t_name Покрытие гель-лак (BlueSky и т.д.)	
				td 500₽
			tr
				td.t_name Снятие гель-лаков ( без покрытия)	
				td 350₽
			tr
				td.t_name Снятие гель-лаков 50%	
				td 175₽

