.table_head.th_class.th_24
	.th_name_1
		| ПЕДИКЮР
	.th_name_2
		| ВИДЫ ПЕДИКЮРА
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Педикюр женский (педикюрный набор №1, обработка мозолей. ступней и ногтей)	
				td 650₽
			tr
				td.t_name Педикюр мужской (педикюрный набор №1, обработка мозоли, ступней и ногтей)	
				td 800₽
			tr
				td.t_name Обработка мозолей лезвием
				td 50₽
			tr
				td.t_name Аппаратный педикюр (обработка мозолей, ступней и ногтей аппаратом)	
				td 1300₽
			tr
				td.t_name Аппаратный комбинированный педикюр	
				td 1030₽
			tr
				td.t_name Кислотный педикюр (эффективное удаление мозолей и натоптышей)	
				td 1100₽
			tr
				td.t_name Педикюр+ СПА уход (обработка ступней, ногтей, скраб, увлажнение, легкий массаж)	
				td 750₽
			tr
				td.t_name Бразильский SPA-педикюр	
				td 800₽
			tr
				td.t_name Бразильский SPA-педикюр мужской	
				td 950₽
			tr
				td.t_name Комбинированный +бразильский педикюр	
				td 1350₽
			tr
				td.t_name Удаление «сухих» мозолей «жидким лезвием»	
				td 100₽
			tr
				td.t_name Парафинотерапия ступней	
				td 450₽
			tr
				td.t_name Массаж ступней (10-15мин)	
				td 100₽
			tr
				td.t_name Шлифовка ногтей
				td 	30₽
			tr
				td.t_name Коррекция деформированного ногтя	
				td 100₽
			tr
				td.t_name Укрепление ногтей шелком (1ед.)
				td 	40₽
