.table_head.th_class.th_40
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ЧИСТКА ЛИЦА И ТЕЛА 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Чистка ультразвуковая (по гелю+сыворотка)
				td 850₽
			tr
				td.t_name Очищение спины, области декольте
				td 300₽
			tr
				td.t_name Чистка лица
				td 1700₽
			tr
				td.t_name Атравматическая чистка (1ч30мин)
				td 2000₽
			tr
				td.t_name Комбинированная чистка лица (до 1ч 50мин)
				td 2500₽