.table_head.th_class.th_22
	.th_name_1
		| МУЖСКОЙ ЗАЛ
	.th_name_2
		| МУЖСКИЕ УСЛУГИ
	table
		tbody
			tr
				th
				th
			tr
				td.t_name Стрижка модельная
				td 200₽
			tr
				td.t_name Стрижка креативная
				td 250₽
			tr
				td.t_name Стрижка пенсионерам (в будни до 12 часов)
				td 120₽
			tr
				td.t_name Стрижка (под 1 насадку)
				td 120₽
			tr
				td.t_name Стрижка (под 2 насадки)
				td 150₽
			tr
				td.t_name Стрижка детская (до 7 лет)
				td 150₽
			tr
				td.t_name Стрижка детская «шапочка»
				td 200₽
			tr
				td.t_name Стрижка « ёжик», «площадка»
				td 250₽
			tr
				td.t_name Стрижка креативная (удлиненная)
				td 250₽
			tr
				td.t_name Стрижка наголо (машинкой)
				td 100₽
			tr
				td.t_name Бритье головы (лезвием)
				td 490₽
			tr
				td.t_name Окантовка (без стрижки)
				td 100₽
			tr
				td.t_name Экспресс тонирование для мужчин ESTEL (коротк. дл)
				td 450₽
			tr
				td.t_name Экспресс тонирование для мужчин ESTEL (сред. дл.)
				td 550₽
			tr
				td.t_name Мелирование на шапочку
				td 350₽
			tr
				td.t_name Укладка волос
				td 80₽
			tr
				td.t_name Бритье лица (лезвием)
				td 390₽
			tr
				td.t_name Стрижка усов
				td 50₽
			tr
				td.t_name Стрижка бороды (под 1 насадку)
				td 100₽
			tr
				td.t_name Окантовка бороды	
				td 100₽
			tr
				td.t_name Оформление бороды	
				td 200₽
			tr
				td.t_name Оформление бороды с применением лезвия	
				td 400₽
			tr
				td.t_name Стрижка бровей
				td 10₽

