.table_head.th_class.th_55
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| НАРАЩИВАНИЕ И ХИМИЧЕСКАЯ ЗАВИВКА РЕСНИЦ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Ламинирование ресниц SEXY Lashes	
				td 2500₽
			tr
				td.t_name Биозавивка ресниц	
				td 1300₽
			tr
				td.t_name Наращивание уголков	
				td 1000₽
			tr
				td.t_name Наращивание ресниц 1 объем	
				td 2000₽
			tr
				td.t_name Коррекция	
				td 1300₽
			tr
				td.t_name Наращивание 1,5объема	
				td 2500₽
			tr
				td.t_name Коррекция	
				td 1500₽
			tr
				td.t_name Наращивание 2D	
				td 2800₽
			tr
				td.t_name Коррекция	
				td 1700₽
			tr
				td.t_name Наращивание 3D	
				td 3200₽
			tr
				td.t_name Коррекция	
				td 2000₽
			tr
				td.t_name Наращивание 5D (голливудский)	
				td 3500₽
			tr
				td.t_name Коррекция	
				td 2300₽
			tr
				td.t_name Двухтоновые ресницы
				td 300₽
			tr
				td.t_name Декорирование ресниц
				td 500₽
			tr
				td.t_name Наращивание нижних ресниц
				td 800₽
			tr
				td.t_name Снятие ресниц
				td 600₽