.table_head.th_class.th_53
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ФОТОЭПИЛЯЦИЯ Ellipse MultiFlex (Дания) 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name EM фотоэпиляция верхняя губа (до 10 вспышек)
				td 990₽
			tr
				td.t_name EM фотоэпиляция верхняя губа доп. 1 всп
				td 100₽
			tr
				td.t_name EM фотоэпиляция подбородок (до 10 вспышек)
				td 990₽
			tr
				td.t_name EM фотоэпиляция подбородок доп. 1 всп
				td 100₽
			tr
				td.t_name EM фотоэпиляция лицо полностью (40 вспышек)
				td 3990₽
			tr
				td.t_name EM фотоэпиляция лицо полностью доп. 1 всп
				td 100₽
			tr
				td.t_name EM фотоэпиляция подмышки (до 20 вспышек)
				td 1990₽
			tr
				td.t_name EM фотоэпиляция подмышки доп.1 всп	
				td 100₽
			tr
				td.t_name EM фотоэпиляция линия бикини (40 вспышек)	
				td 4000₽
			tr
				td.t_name EM фотоэпиляция линия бикини доп. 1 всп	
				td 60₽
			tr
				td.t_name EM фотоэпиляция неглубокое бикини (60 вспышек)	
				td 5000₽
			tr
				td.t_name EM фотоэпиляция неглубокое бикини доп. 1 всп	
				td 60₽
			tr
				td.t_name EM фотоэпиляция глубокое бикини (70 вспышек)	
				td 5990₽
			tr
				td.t_name EM фотоэпиляция глубокое бикини доп. 1 всп	
				td 60₽
			tr
				td.t_name EM фотоэпиляция голень 1 всп	
				td 55₽
			tr
				td.t_name EM фотоэпиляция голень+колено 1 всп	
				td 55₽
			tr
				td.t_name EM фотоэпиляция бедра 1 всп	
				td 55₽
			tr
				td.t_name EM фотоэпиляция бедра+голень 1 всп	
				td 55₽
			tr
				td.t_name EM фотоэпиляция руки до локтей 1 всп	
				td 60₽
			tr
				td.t_name EM фотоэпиляция руки полностью 1 всп	
				td 60₽
			tr
				td.t_name EM фотоэпиляция ягодицы 1 всп	
				td 80₽
			tr
				td.t_name EM фотоэпиляция живот 1 всп	
				td 90₽
			tr
				td.t_name EM фотоэпиляция белая линия живота	
				td 1990₽
			tr
				td.t_name EM фотоэпиляция спина 1 всп	
				td 70₽
			tr
				td.t_name EM фотоэпиляция вокруг ореолы 1 всп	
				td 100₽