.table_head.th_class.th_38
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ХИМИЧЕСКИЕ ПИЛИНГИ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Поверхностный пилинг (лицо)
				td 2200₽
			tr
				td.t_name Поверхностный пилинг (шея)
				td 2500₽
			tr
				td.t_name Поверхностный пилинг (декольте)
				td 3200₽
			tr
				td.t_name ENERPEEL TCA (лицо)
				td 3000₽
			tr
				td.t_name ENERPEEL TCA (шея)
				td 3500₽
			tr
				td.t_name ENERPEEL TCA (декольте)
				td 3800₽
			tr
				td.t_name ENERPEEL Джеснера (лицо)
				td 2900₽
			tr
				td.t_name ENERPEEL Джеснера (+шея)
				td 3300₽
			tr
				td.t_name ENERPEEL Джеснера (+декольте)
				td 3800₽
			tr
				td.t_name Yellow пилинг (лицо)
				td 3950₽
			tr
				td.t_name Yellow пилинг (+шея)
				td 4500₽
			tr
				td.t_name Yellow пилинг (+декольте)
				td 6000₽
			tr
				td.t_name Пилинг GiGi KAVA срединный (лицо)
				td 2600₽
			tr
				td.t_name Пилинг GiGi KAVA срединный (+декольте)
				td 3300₽
			tr
				td.t_name Пилинг GiGi TCA 15% (лицо)
				td 2200₽
			tr
				td.t_name Пилинг GiGi TCA 15% (+декольте)
				td 3200₽
			tr
				td.t_name Пилинг GiGi Medic Peel срединный (лицо)
				td 3200₽
			tr
				td.t_name Пилинг GiGi Medic Peel срединный (+декольте)
				td 4000₽
