.table_head.th_class.th_15
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ VIP
	.th_name_2
		| СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Стрижка модельная
				td 250₽
				td 250₽
				td 250₽
				td 250₽
			tr
				td.t_name Стрижка креативная
				td 300₽
				td 300₽
				td 300₽
				td 300₽
			tr
				td.t_name Стрижка детская (до 7лет)
				td 170₽
				td 170₽
				td 170₽
				td 170₽
			tr
				td.t_name Стрижка пенсионерам
				td 120₽
				td 120₽
				td 120₽
				td 120₽
			tr
				td.t_name Стрижка с сушкой по форме
				td 350₽						
				td 400₽
				td 450₽
				td 500₽
			tr
				td.t_name Стрижка горяч. ножницами
				td 690₽			
				td 890₽
				td 1190₽
				td 1290₽
			tr
				td.t_name Оформление челки
				td 100₽
				td 100₽
				td 100₽
				td 100₽
			tr
				td.t_name Сушка по форме (без стрижки)
				td 200₽						
				td 250₽
				td 300₽
				td 400₽
			tr
				td.t_name Укладка феном
				td 300₽						
				td 350₽
				td 450₽
				td 550₽
			tr
				td.t_name Укладка бигуди, диффузор
				td 320₽						
				td 400₽
				td 500₽
				td 600₽
			tr
				td.t_name Укладка фен+утюжок
				td
				td 500₽				
				td 650₽
				td 800₽
			tr
				td.t_name Начес
				td 70₽			
				td 70₽
				td 120₽
				td 120₽
			tr
				td.t_name Плетение косичек (1 единица)
				td 50₽
				td 50₽
				td 100₽
				td 100₽
			tr
				td.t_name Плетение французской косы
				td 250₽
				td 250₽
				td 250₽
				td 250₽
			tr
				td.t_name Прическа на основе французской косы
				td
				td 500₽		
				td 700₽
				td 900₽
			tr
				td.t_name Прическа модельная (вечер. свадеб)
				td 500₽			
				td 800₽
				td 1400₽
				td 1700₽
