.table_head.th_class.th_19
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ VIP
	.th_name_2
		| ХИМИЧЕСКАЯ ЗАВИВКА (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Химическая завивка (Estel) (цена за работу)	
				td 460₽						
				td 560₽
				td 820₽
				td 1020₽
			tr
				td.t_name Вертикальная хим. завивка (цена за работу)	 
				td 
				td 660₽				
				td 1020₽
				td 1220₽
			tr
				td.t_name Карвинг, БИО химия	
				td 750₽						
				td 950₽
				td 1210₽
				td 1410₽
			tr
				td.t_name Химическая завивка (Matrix)	
				td 1300₽						
				td 1640₽
				td 1980₽
				td 2380₽
			tr
				td.t_name Биозавивка Volumizer прикорневой объем (цена за работу)	
				td 1500₽
				td 1500₽
				td 2000₽
				td 2000₽