.table_head.th_class.th_17
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ VIP
	.th_name_2
		| ОКРАШИВАНИЕ MATRIX (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Окрашивание Socolor Beauty в 1тон (1сост.краски)	
				td 1050₽
				td 1170₽
				td 1420₽
				td 1980₽
			tr
				td.t_name Окрашивание Socolor Beauty в 2 тона (2сост. кр)	
				td 1580₽
				td 2130₽
				td 2380₽
				td 3100₽
			tr
				td.t_name Мелирование Socolor Beauty (2 сост.кр.)	
				td 1980₽
				td 2280₽
				td 2730₽
				td 3290₽
			tr
				td.t_name Окрашивание Color Synk в 1тон (1сост. краски)	
				td 1120₽
				td 1280₽
				td 1570₽
				td 2180₽
			tr
				td.t_name Окрашивание Color Synk в 2 тона (2сост.краски)	
				td 1730₽
				td 2230₽
				td 2530₽
				td 3300₽
			tr
				td.t_name Мелирование Color Synk (2 сост. краски.)	
				td 2180₽
				td 2480₽
				td 3030₽
				td 3690₽
