.table_head.th_class.th_9
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ БИЗНЕС
	.th_name_2
		| ОКРАШИВАНИЕ ЭСТЕЛЬ (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Окрашивание Essex в 1тон (1состав краски)	
				td 600₽			
				td 660₽
				td 770₽
				td 890₽
			tr
				td.t_name Окрашивание Essex в 2 тона (2сост. краски)	
				td 810₽			
				td 1210₽
				td 1330₽
				td 1510₽
			tr
				td.t_name Окрашивание Essex мелир. краской(2сост.кр.)
				td 1160₽			
				td 1270₽
				td 1480₽
				td 1720₽
			tr
				td.t_name Окрашивание Deluxe в 1тон (1состав краски)	
				td 720₽			
				td 780₽
				td 890₽
				td 1010₽
			tr
				td.t_name Окрашивание Deluxe в 2 тона (2сост.краски)	
				td 1100₽			
				td 1460₽
				td 1630₽
				td 1840₽
			tr
				td.t_name Окрашивание Deluxe мелир.краской (2сост.кр.)	
				td 1410₽			
				td 1520₽
				td 1730₽
				td 1970₽
			tr
				td.t_name Окрашивание HauteCoutur в 1 тон (1сост. кр)	
				td 860₽
				td 960₽
				td 1210₽
				td 1610₽
			tr
				td.t_name Окрашивание HauteCoutur в 2 тон (2сост. кр)	
				td 1210₽
				td 1460₽
				td 1760₽
				td 2060₽
			tr
				td.t_name Мелирование HauteCoutur (2сост. кр)	
				td 1660₽
				td 1860₽
				td 2310₽
				td 3110₽
			tr
				td.t_name Смывка Color off (цена за работу)	
				td 480₽
				td 680₽
				td 910₽
				td 1060₽
			tr
				td.t_name Смывка волос супрой (1-2 смывки)	
				td 330₽			
				td 400₽
				td 580₽
				td 730₽
			tr
				td.t_name Смывка волос супрой (3-4 смывка)	
				td 495₽			
				td 600₽
				td 870₽
				td 1100₽
			tr
				td.t_name Тонирование волос тоником	
				td 140₽			
				td 170₽
				td 250₽
				td 320₽
