.table_head.th_class.th_54
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ФОТООМОЛОЖЕНИЕ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Фотоомоложение лицо (до 60 вспышек)	
				td 5000₽
			tr
				td.t_name Фотоомоложение лицо доп. 1 всп	
				td 120₽
			tr
				td.t_name Фотоомоложение лицо+шея (до 70 вспышек)	
				td 6000₽
			tr
				td.t_name Фотоомоложение лицо+шея доп. 1 всп	
				td 120₽
			tr
				td.t_name Фотоомоложение декольте (до 50 вспышек)	
				td 4000₽
			tr
				td.t_name Фотоомоложение декольте доп. 1 всп	
				td 100₽
			tr
				td.t_name Фотоомоложение лицо+шея+декольте (до 120 вспышек)	
				td 10000₽
			tr
				td.t_name Фотоомоложение лицо+шея+декольте доп. 1 всп	
				td 90₽
			tr
				td.t_name Фотоомоложение кисти рук (20 вспышек)	
				td 2500₽
			tr
				td.t_name Фотоомоложение сосудистые изменения 1 всп	
				td 250₽
			tr
				td.t_name Фотоомоложение лечение акне 1 всп	
				td 150₽