.table_head.th_class.th_29
	.th_name_1
		| МАНИКЮР
	.th_name_2
		| Декоративное покрытие и дизайны ногтей 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Декоративный дизайн ногтей 1 ед. (слайдеры, бархатный песок, жидкие камни, литье, зеркальное покрытие)
				td 50₽
			tr
				td.t_name Декоративное покрытие (наклейка)
				td 25₽
			tr
				td.t_name Слайдер на ноготь
				td 50₽
			tr
				td.t_name Лепка акриловая - 1 цветок
				td 60₽
			tr
				td.t_name Рисунок акриловыми красками– (1 ноготь)
				td 20₽
			tr
				td.t_name Художественная роспись (1 ноготь)
				td 40₽
			tr
				td.t_name 1 страза маленькая
				td 10₽
			tr
				td.t_name 1 страза Сваровски маленькая
				td 15₽
			tr
				td.t_name 1 страза Сваровски большая
				td 50₽
			tr
				td.t_name Пирсинг – 1 ноготь	
				td 100₽
			tr
				td.t_name Финиш (защитный слой геля)	
				td 100₽
			tr
				td.t_name 2-х фазное лечебное покрытие IBX	
				td 500₽
			tr
				td.t_name IBX под Shellak	
				td 400₽