.table_head.th_class.th_47
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ПЕРМАНЕНТНЫЙ МАКИЯЖ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Перманентный макияж (брови полное заполнение)
				td 5000₽
			tr
				td.t_name Перманентный макияж (брови мягкая растушевка)
				td 6500₽
			tr
				td.t_name Перманентный макияж (брови волосковая техника)
				td 7500₽
			tr
				td.t_name Перманентный макияж (двойная техника волосковая + растушевка)
				td 9000₽
			tr
				td.t_name Перманентный макияж (стрелки верхнее веко)
				td 7500₽
			tr
				td.t_name Перманентный макияж (межресничное пространство )
				td 3500₽
			tr
				td.t_name Перманентный макияж (стрелки нижнее веко)
				td 3000₽
			tr
				td.t_name Перманентный макияж (контур губ без растушевки)
				td 3000₽
			tr
				td.t_name Перманентный макияж (контур губ с растушевкой)
				td 7500₽
			tr
				td.t_name Перманентный макияж (родинка)
				td 1500₽
			tr
				td.t_name Перманентный макияж (коррекция до 2 месяцев (50%))
				td 1500-3750₽
			tr
				td.t_name Перманентный макияж (коррекция свыше 3 месяцев )
				td 3000-7500₽