.table_head.th_class.th_23
	.th_name_1
		| МУЖСКОЙ ЗАЛ
	.th_name_2
		| ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ И МАТЕРИАЛЫ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Гель, воск, лак (Estel)	 
				td 20₽
			tr
				td.t_name Гель, воск, лак (Matrix)	 
				td 30₽
			tr
				td.t_name Сушка феном	 
				td 20₽
			tr
				td.t_name Мытье головы (шампунь, бальзам Estel,полотенце)	 
				td 30₽
			tr
				td.t_name Мытье головы (шампунь, бальзам Matrix, полотенце)	 
				td 50₽
			tr
				td.t_name Лечебная маска для волос Estel	 
				td 100₽
			tr
				td.t_name Лечебная маска для волос Matrix	 
				td 200₽
			tr
				td.t_name Полотенце	 
				td 7₽
			tr
				td.t_name Пеньюар	 
				td 7₽
			tr
				td.t_name Хромоэнергитический комплекс (защита волос) 
				td 150₽
