.table_head.th_class.th_12
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ БИЗНЕС
	.th_name_2
		| ХИМИЧЕСКАЯ ЗАВИВКА (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Химическая завивка (Estel) (цена за работу)	
				td 420₽			
				td 530₽
				td 740₽
				td 930₽
			tr
				td.t_name Вертикальная хим. завивка (цена за работу)	 
				td 
				td 620₽		
				td 900₽
				td 1120₽
			tr
				td.t_name Карвинг, БИО химия	
				td 680₽			
				td 800₽
				td 1060₽
				td 1260₽
			tr
				td.t_name Химическая завивка (Matrix)	
				td 1000₽			
				td 1300₽
				td 1600₽
				td 1900₽
			tr
				td.t_name Биозавивка Volumizer прикорневой объем (цена за работу)	
				td 1500₽
				td 1500₽
				td 2000₽
				td 2000₽