.table_head.th_class.th_5
	.th_name_1
		| ЖЕНСКИЙ ЗАЛ ЭКОНОМ
	.th_name_2
		| ХИМИЧЕСКАЯ ЗАВИВКА (+ мытье)
	table
		tbody
			tr
				th
				th короткие волосы
				th средние волосы
				th длинные волосы
				th волосы от 40см.
			tr
				td.t_name Химическая завивка (Estel) (цена за работу)	
				td 370₽
				td 510₽
				td 670₽
				td 850₽
			tr
				td.t_name Вертикальная хим. завивка (цена за работу)	 
				td 
				td 580₽
				td 820₽
				td 1020₽
			tr
				td.t_name Карвинг, БИО химия	
				td 610₽
				td 700₽
				td 960₽
				td 1110₽
			tr
				td.t_name Химическая завивка (Matrix)	
				td 950₽
				td 1200₽
				td 1500₽
				td 1750₽
			tr
				td.t_name Биозавивка Volumizer прикорневой объем (цена за работу)	
				td 1500₽
				td 1500₽
				td 2000₽
				td 2000₽