.table_head.th_class.th_49
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| АППАРАТНАЯ КОСМЕТОЛОГИЯ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Дарсонваль
				td 250₽
			tr
				td.t_name Гальваника (дезинкрустация)
				td 250₽
			tr
				td.t_name УЗИ в процедуру
				td 400₽
			tr
				td.t_name Микротоки лифтинг лица	
				td 1500₽
			tr
				td.t_name Микротоки лифтинг лица, шеи	
				td 2000₽
			tr
				td.t_name Лазерная биоревитализация	
				td 2800₽
			tr
				td.t_name Фракционная мезотерапия	
				td 3500₽