.table_head.th_class.th_48
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| ПИРСИНГ 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Прокол ушей (без сережек)
				td 250₽
			tr
				td.t_name Прокол носа
				td 350₽
			tr
				td.t_name Прокол пупка
				td 500₽
			tr
				td.t_name Серьги
				td 200-500₽