.table_head.th_class.th_42
	.th_name_1
		| КОСМЕТОЛОГИЯ
	.th_name_2
		| КОМПЛЕКСНЫЙ УХОД 
	table
		tbody
			tr
				th
				th 
			tr
				td.t_name Уход для глаз (Hyalual маска)	
				td 2200₽
			tr
				td.t_name Коллагеновый лист
				td 650₽
			tr
				td.t_name Салонный уход + уход вокруг глаз	
				td 2200₽
			tr
				td.t_name Антивозрастная программа	
				td 2200₽
			tr
				td.t_name Уходы (супер-лифтинг, глубокое увлажнение)	
				td 2700₽
			tr
				td.t_name Безынъекционная карбокситерапия	
				td 3000₽