.wr_p_left_select#big_accordion
	ul.ul_1lvl
		li.li_1lvl.li1
			a.usual_a(href="#") ПАРИКМАХЕРСКИЕ УСЛУГИ
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ ЭКОНОМ
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a.th_class_a#th_1(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a.th_class_a#th_2(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_3(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_4(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_5(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_6(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a.th_class_a#th_7(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ БИЗНЕС
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a.th_class_a#th_8(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a.th_class_a#th_9(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_10(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_11(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_12(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_13(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a.th_class_a#th_14(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ VIP
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a.th_class_a#th_15(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a.th_class_a#th_16(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_17(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_18(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_19(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a.th_class_a#th_20(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a.th_class_a#th_21(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") МУЖСКОЙ ЗАЛ
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a.th_class_a#th_22(href="#") МУЖСКИЕ УСЛУГИ
						li.li_3lvl
							a.usual_a.th_class_a#th_23(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
		li.li_1lvl.li1
			a.usual_a(href="#") МАНИКЮР
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_28(href="#") ВИДЫ МАНИКЮРА И ПОКРЫТИЯ НОГТЕЙ
				li.li_2lvl
					a.usual_a.th_class_a#th_29(href="#") ДЕКОРАТИВНОЕ ПОКРЫТИЕ И ДИЗАЙНЫ НОГТЕЙ
				li.li_2lvl
					a.usual_a.th_class_a#th_30(href="#") НАРАЩИВАНИЕ НОГТЕЙ
		li.li_1lvl.li1
			a.usual_a(href="#") ПЕДИКЮР
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_24(href="#") ВИДЫ ПЕДИКЮРА
				li.li_2lvl
					a.usual_a.th_class_a#th_25(href="#") ПИДЫ ПОКРЫТИЯ НОГТЕЙ
				li.li_2lvl
					a.usual_a.th_class_a#th_26(href="#") НАРАЩИВАНИЕ НОГТЕЙ НА НОГАХ
				li.li_2lvl
					a.usual_a.th_class_a#th_27(href="#") ДОП. МАТЕРИАЛЫ
		li.li_1lvl.li1
			a.usual_a(href="#") КОСМЕТОЛОГИЯ
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_36(href="#") ОСНОВНЫЕ УСЛУГИ 
				li.li_2lvl
					a.usual_a.th_class_a#th_37(href="#") КОСМЕТИЧЕСКИЕ МАССАЖИ ЛИЦА 
				li.li_2lvl
					a.usual_a.th_class_a#th_38(href="#") ХИМИЧЕСКИЕ ПИЛИНГИ 
				li.li_2lvl
					a.usual_a.th_class_a#th_39(href="#") КОСМЕТИЧЕСКИЕ МАСКИ 
				li.li_2lvl
					a.usual_a.th_class_a#th_40(href="#") ЧИСТКА ЛИЦА И ТЕЛА 
				li.li_2lvl
					a.usual_a.th_class_a#th_41(href="#") КРИОТЕРАПИЯ (жидкий азот) 
				li.li_2lvl
					a.usual_a.th_class_a#th_42(href="#") КОМПЛЕКСНЫЙ УХОД 
				li.li_2lvl
					a.usual_a.th_class_a#th_43(href="#") МАКИЯЖ 
				li.li_2lvl
					a.usual_a.th_class_a#th_44(href="#") ДЭПИЛЯЦИЯ ВОСК 
				li.li_2lvl
					a.usual_a.th_class_a#th_45(href="#") ДЭПИЛЯЦИЯ ШУГАРИНГ 
				li.li_2lvl
					a.usual_a.th_class_a#th_46(href="#") ЭЛЕКТРОЭПИЛЯЦИЯ 
				li.li_2lvl
					a.usual_a.th_class_a#th_47(href="#") ПЕРМАНЕНТНЫЙ МАКИЯЖ 
				li.li_2lvl
					a.usual_a.th_class_a#th_48(href="#") ПИРСИНГ 
				li.li_2lvl
					a.usual_a.th_class_a#th_49(href="#") АППАРАТНАЯ КОСМЕТОЛОГИЯ 
				li.li_2lvl
					a.usual_a.th_class_a#th_50(href="#") БЕЗЫГОЛЬНАЯ МЕЗОТЕРАПИЯ 
				li.li_2lvl
					a.usual_a.th_class_a#th_51(href="#") RF–ЛИФТИНГ «Дерматорм 2,0» 
				li.li_2lvl
					a.usual_a.th_class_a#th_52(href="#") Микродермабразия аппарат PRISTINE (Израиль) 
				li.li_2lvl
					a.usual_a.th_class_a#th_53(href="#") ФОТОЭПИЛЯЦИЯ Ellipse MultiFlex (Дания) 
				li.li_2lvl
					a.usual_a.th_class_a#th_54(href="#") ФОТООМОЛОЖЕНИЕ 
				li.li_2lvl
					a.usual_a.th_class_a#th_55(href="#") НАРАЩИВАНИЕ И ХИМИЧЕСКАЯ ЗАВИВКА РЕСНИЦ
		li.li_1lvl.li1
			a.usual_a(href="#") МАССАЖ | СПА
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_31(href="#") ОБЩИЕ ПРОЦЕДУРЫ
				li.li_2lvl
					a.usual_a.th_class_a#th_32(href="#") СПА-ПРОЦЕДУРЫ 
				li.li_2lvl
					a.usual_a.th_class_a#th_33(href="#") ДОП. МАТЕРИАЛЫ
		li.li_1lvl.li1
			a.usual_a(href="#") СОЛЯРИЙ
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_35(href="#") ОСНОВНЫЕ УСЛУГИ
		li.li_1lvl.li1
			a.usual_a(href="#") COUTURE
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a.th_class_a#th_34(href="#") ТОВАРЫ