.wr_s_left_select
	ul.ul_1lvl
		li.li_1lvl.li1
			a.usual_a(href="#") ПАРИКМАХЕРСКИЕ УСЛУГИ
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ ЭКОНОМ
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ БИЗНЕС
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") ЖЕНСКИЙ ЗАЛ VIP
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a(href="#") СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ ESTEL (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОКРАШИВАНИЕ MATRIX (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ОБЕСЦВЕЧИВАНИЕ И МЕЛИРОВАНИЕ | ОМБРЭ (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ХИМИЧЕСКАЯ ЗАВИВКА (+МЫТЬЕ)
						li.li_3lvl
							a.usual_a(href="#") ЛЕЧЕНИЕ И УХОД ЗА ВОЛОСАМИ
						li.li_3lvl
							a.usual_a(href="#") ДОП. УСЛУГИ И МАТЕРИАЛЫ
				li.li_2lvl
					a.usual_a(href="#") ЖУЖСКОЙ ЗАЛ
		li.li_1lvl.li1
			a.usual_a(href="#") МАНИКЮР
		li.li_1lvl.li1
			a.usual_a(href="#") ПЕДИКЮР
		li.li_1lvl.li1
			a.usual_a(href="#") КОСМЕТОЛОГИЯ
		li.li_1lvl.li1
			a.usual_a(href="#") МАССАЖ | СПА
		li.li_1lvl.li1
			a.usual_a(href="#") СОЛЯРИЙ
			ul.ul_2lvl
				li.li_2lvl
					a.usual_a(href="#") СОЛЯРИЙ 2 - 1
					ul.ul_3lvl
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 1
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 2
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 3
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 4
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 5
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 6
						li.li_3lvl
							a.usual_a(href="#") СОЛЯРИЙ 3 - 
				li.li_2lvl
					a.usual_a(href="#") СОЛЯРИЙ 2 - 2
				li.li_2lvl
					a.usual_a(href="#") СОЛЯРИЙ 2 - 3
				li.li_2lvl
					a.usual_a(href="#") СОЛЯРИЙ 2 - 4