doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content='API to View')
		title apiView
	body
		include includes/call_back.pug
		include includes/metro_overlay.pug
		include includes/m_menu.pug
		include includes/price_accordeon_overlay.pug
		.wrapper.grid
			.wrapper_left.wrapper_item
				include includes/left_menu.pug
			.wrapper_right.wrapper_item
				include includes/top_menu.pug
				.wr_price_select.grid
					.wr_price_select-item
						.wr_p_metro_info_icon
							button#p_burger.header_burger.hamburger(type='button')
								span.hamburger_box
									span.hamburger_inner
						#wrpmin_1.wr_p_metro_info_name
							| ПРЕОБРАЖЕНСКАЯ ПЛОЩАДЬ
						#wrpmin_2.wr_p_metro_info_name
							| ЭЛЕКТРОЗАВОДСКАЯ
						#wrpmin_3.wr_p_metro_info_name
							| КРАСНЫЕ ВОРОТА
						#wrpmin_4.wr_p_metro_info_name
							| ТАГАНСКАЯ
						#wrpmin_5.wr_p_metro_info_name
							| РАМЕНКИ
						#wrpmin_6.wr_p_metro_info_name
							| УНИВЕРСИТЕТ
						#wrpmin_7.wr_p_metro_info_name
							| ПРОСПЕКТ ВЕРНАДСКОГО
						#wrpmin_8.wr_p_metro_info_name
							| КАШИРСКАЯ

					.wr_price_select-item
						include includes/price_accordeon.pug
						.wr_p_metro_info_icon
							button#a_burger.header_burger.hamburger(type='button')
								span.hamburger_box
									span.hamburger_inner
						.wr_p_metro_info_name
							| ВЫБРАТЬ УСЛУГУ
					.wr_price_select-item
						include includes/price_table_1.pug
						include includes/price_table_2.pug
						include includes/price_table_3.pug
						include includes/price_table_4.pug
						include includes/price_table_5.pug
						include includes/price_table_6.pug
						include includes/price_table_7.pug
						include includes/price_table_8.pug
						include includes/price_table_9.pug
						include includes/price_table_10.pug
						include includes/price_table_11.pug
						include includes/price_table_12.pug
						include includes/price_table_13.pug
						include includes/price_table_14.pug
						include includes/price_table_15.pug
						include includes/price_table_16.pug
						include includes/price_table_17.pug
						include includes/price_table_18.pug
						include includes/price_table_19.pug
						include includes/price_table_20.pug
						include includes/price_table_21.pug
						include includes/price_table_22.pug
						include includes/price_table_23.pug
						include includes/price_table_24.pug
						include includes/price_table_25.pug
						include includes/price_table_26.pug
						include includes/price_table_27.pug
						include includes/price_table_28.pug
						include includes/price_table_29.pug
						include includes/price_table_30.pug
						include includes/price_table_31.pug
						include includes/price_table_32.pug
						include includes/price_table_33.pug
						include includes/price_table_34.pug
						include includes/price_table_35.pug
						include includes/price_table_36.pug
						include includes/price_table_37.pug
						include includes/price_table_38.pug
						include includes/price_table_39.pug
						include includes/price_table_40.pug
						include includes/price_table_41.pug
						include includes/price_table_42.pug
						include includes/price_table_43.pug
						include includes/price_table_44.pug
						include includes/price_table_45.pug
						include includes/price_table_46.pug
						include includes/price_table_47.pug
						include includes/price_table_48.pug
						include includes/price_table_49.pug
						include includes/price_table_50.pug
						include includes/price_table_51.pug
						include includes/price_table_52.pug
						include includes/price_table_53.pug
						include includes/price_table_54.pug
						include includes/price_table_55.pug

		link(rel='stylesheet', href='css/prices.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='js/scripts.min.js')

