doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content='API to View')
		title apiView
	body
		include includes/call_back.pug
		include includes/m_menu.pug
		.wrapper.grid
			.wrapper_left.wrapper_item
				include includes/left_menu.pug
			.wrapper_right.wrapper_item
				include includes/top_menu.pug
				.wr_salon_select.grid
					.wr_salon_select-item
						.metro_select
							ul.metro_select_ul
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name ПРЕОБРАЖЕНСКАЯ ПЛОЩАДЬ
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name ЭЛЕКТРОЗАВОДСКАЯ
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name КРАСНЫЕ ВОРОТА
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name ТАГАНСКАЯ
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name РАМЕНКИ
								li
									a.metro_select_a(href="#" type="active")
										span.metro_icon
										span.metro_name УНИВЕРСИТЕТ
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name ПРОСПЕКТ ВЕРНАДСКОГО
								li
									a.metro_select_a(href="#")
										span.metro_icon
										span.metro_name КАШИРСКАЯ
					.wr_salon-select-item.ssi_i#salon_i_1(style = 'background-image: url(img/s1.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_2(style = 'background-image: url(img/s2.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_3(style = 'background-image: url(img/s3.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_4(style = 'background-image: url(img/s4.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_5(style = 'background-image: url(img/s5.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_6(style = 'background-image: url(img/s6.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_7(style = 'background-image: url(img/s7.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item.ssi_i#salon_i_8(style = 'background-image: url(img/s8.jpg); background-size: cover; z-index: 10')
					.wr_salon-select-item#map
					.wr_salon-select-item.ssi#salon_1(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name ПРЕОБРАЖЕНСКАЯ ПЛОЩАДЬ
								h4 Москва, Преображенский Вал, д. 4
								i.fa.fa-mobile(aria-hidden='true')
									p +7 963 975-31-11
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_2(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name ЭЛЕКТРОЗАВОДСКАЯ
								h4 	Москва, ул. Большая Семеновская, д. 28
								i.fa.fa-mobile(aria-hidden='true')
									p +7 499 785-08-19
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_3(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name КРАСНЫЕ ВОРОТА
								h4 Москва, Боярский переулок, д. 2
								i.fa.fa-mobile(aria-hidden='true')
									p +7 495 623-79-88
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_4(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name ТАГАНСКАЯ
								h4 Москва, ул. Таганская, д. 26
								i.fa.fa-mobile(aria-hidden='true')
									p +7 495 911-18-96
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_5(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name РАМЕНКИ
								h4 Москва, ул. Мичуринский пр-т, д. 21к1
								i.fa.fa-mobile(aria-hidden='true')
									p +7 495 931-00-54
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_6(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name УНИВЕРСИТЕТ
								h4 Москва, ул. Строителей, д. 6, к. 3
								i.fa.fa-mobile(aria-hidden='true')
									p +7 495 930-12-31
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_7(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name ПРОСПЕКТ ВЕРНАДСКОГО
								h4 Москва, ул. Удальцова, д. 15
								i.fa.fa-mobile(aria-hidden='true')
									p +7 499 431-32-86
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
					.wr_salon-select-item.ssi#salon_8(style = 'background-color: #101010')
						.metro_box.grid
							.metro_box-item.metro_info
								.metro_span_box
									span.metro_info_icon
									span.metro_info_name КАШИРСКАЯ
								h4 Москва, Пролетарский проспект, д. 3
								i.fa.fa-mobile(aria-hidden='true')
									p +7 499 782-86-69
								p часы работы:<br>пн: 09.00-20.00<br>вт-вс: 09.00-21.00
							.metro_box-item.metro_info_buttons
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
		link(rel='stylesheet', href='css/salons.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script(src='js/scripts.min.js')

