doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content='API to View')
		title apiView
	body
		include includes/call_back.pug
		include includes/m_menu.pug
		.wrapper.grid
			.wrapper_left.wrapper_item
				include includes/left_menu.pug
			.wrapper_right.wrapper_item
				include includes/top_menu.pug
				.wr_service_select.grid
					.wr_service_select-item
						include includes/services_accordeon.pug
					.wr_service_select-item
						.service_box.grid
							.service_box-item(style = 'background-image: url(img/hairdresser.jpg)')
							.service_box-item
								h3 Оформление бороды
								p Наличие усов и бороды раньше считалось подтверждением серьезности ужчины, в наше время это не больше чем украшение. Многие дамы считают мужчин, обладающих растительностью на лице более привлекательными, а представители сильного пола, обзаведшись бородой, чувствуют себя брутальными самцами или просто считают это признаком творческой личности. Но есть одно условие – борода и усы просто обязаны быть ухоженными, иначе никакой привлекательности этот атрибут добавить не сможет. Поэтому решение начать отращивать усы и бороду явно не для мужчин, собирающихся просто избавиться от надоевшего ежедневного бритья.
								p Наличие усов и бороды раньше считалось подтверждением серьезности ужчины, в наше время это не больше чем украшение. Многие дамы считают мужчин, обладающих растительностью на лице более привлекательными, а представители сильного пола, обзаведшись бородой, чувствуют себя брутальными самцами или просто считают это признаком творческой личности. Но есть одно условие – борода и усы просто обязаны быть ухоженными, иначе никакой привлекательности этот атрибут добавить не сможет. Поэтому решение начать отращивать усы и бороду явно не для мужчин, собирающихся просто избавиться от надоевшего ежедневного бритья.
							.service_box-item
								button.metro_button#metro_button_1(href="#")
									| ЗАПИСАТЬСЯ
								button.metro_button#metro_button_2(href="#")
									| К ЦЕНАМ
		link(rel='stylesheet', href='css/services.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='js/scripts.min.js')

